{% extends 'base.html' %}
{% block title %}
    <title>about page</title>
{% endblock title %}

{% block content %}
<style>
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
</style>
   <div class="about-section">
      <h1>About Us Page</h1>
      <p>Taskers perform Tasks for Requesters in their own individual capacity as independent </br>
          contractors and not as employees of a Requester, Google, or Google affiliates. These Task Mate Terms do not</br>
          create an association, joint venture, partnership, franchise, or employer/employee relationship between You and Requesters; You and</br>
          Google; or You and Google affiliates.</p>
          <a href="{% url 'index' %}">
            <button class="btn btn-info" type="submit">Home</button>
          </a>
    </div>
{% endblock content %}